body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#emotion-text {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 24px;
  z-index: 3;
}
