body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#emotion-text {
  font-size: 36px; /* Increase the font size */
  margin-top: 20px; /* Add some space between the video and the text */
}

